.header{
    margin-top: 0px !important;
    padding: 0px !important;
    width:100%;
    position: fixed;
}
.header_top{
    padding: 10px 0;
    background-color: #1d1c1c;
}
.header_top p{
    color: #fff;
    margin: 0;
    font-family: "Montserrat", sans-serif
}
.language a{
    text-decoration: none;
    color: #fff;
    padding: 0 15px;
    border-right: 1px solid #000;
}

.language a:last-child{
    border-right: none;
}