.banner_area{
    padding: 100px 0;
}

.banner_img{
    position: relative;
}
.banner_content{
    position: absolute;
    z-index: 66;
    top: 82px;
    left: 35px;
}

.banner_content h5{
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
}
.banner_content h3{
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    margin: 5px 0 15px;
}

.banner_content a{
    display: inline-block;
    font-weight: 500;
    color: #333;
    border-bottom: 1px solid #000000;
    transition: .4s;
}

.banner_content a:hover{
    text-decoration: none;
    color: #ffc107;
    border-color: #ffc107;
}