.service_area{
    padding-bottom: 100px;
}

img{
    width: 100%;
}
.service_area .serviece_wrap{
    display: flex;
}

.service_area .serviece_wrap .img a{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f2f2f2;
    display: inline-block;
    line-height: 60px;
    text-align: center;
    margin-right: 20px;
    transition: .4s;
}
.service_area .serviece_wrap .img a img{
    width: 40px;
}
.service_area .serviece_wrap .content h3{
    font-size: 18px;
    margin: 0 0 4px;
    font-family: "Poppins", sans-serif;
}

.service_area .serviece_wrap .img .content p{
    color: #6a6a6a;
    margin: 0;
}

.service_area .serviece_wrap:hover .img a{
    background-color: #e97730;
}