.section{
   height: 100%;
   overflow-y: scroll;
}
.form{
   width:400px;
   margin: 5px auto;

}
form>input,textarea,select{
    width: 400px;
    padding: 6px 10px;
    display: block;
   margin: 15px auto;
}

.select{
   background:#eef5f9;
   margin: 15px auto;
}
